<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/home.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
</head>
<body>
    <center>
        <div class="title">
            Image Captioning
        </div>
    </center>
    <div class="main">
        <div class="card">
            <div class="top">
                <p>Drag and drop image inside container</p>
            </div>
            <!-- uploading image -->
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="drag-drop-area">
                    <span class="inner">Drag and drop image here or 
                        <span class="select">Browse</span>
                    </span>
                    <input name="file" type="file" class="file" required/>
                </div>
                <input type="submit" value="Generate" class="generate">
            </form>
            <div class="copy-text">
                <input type="text" class="text" placeholder="Caption" value="{{ caption }}">
                <button>
                    <i class="fa fa-copy"></i>
                </button>
            </div>
            <div class="container">
                
            </div>
        </div>
    </div>
    <script>
        let file = [],
        browse = document.querySelector('.select'),
        input = document.querySelector('.drag-drop-area input'),
        dragndrop = document.querySelector('.drag-drop-area'),
        text = document.querySelector('.inner'),
        container = document.querySelector('.container');

        //for copy-text
        let copyText = document.querySelector('.copy-text');
        copyText.querySelector("button").addEventListener("click", function(){
            let input = copyText.querySelector("input.text");
            input.select();
            document.execCommand("copy");
            copyText.classList.add("active");
            window.getSelection().removeAllRanges();
            setTimeout(function(){
                copyText.classList.remove("active");
            }, 2500);
        })

        browse.addEventListener('click', () => input.click());
        input.addEventListener('change', () => {
            file[0] = input.files[0];
            showImages();
        })
        const showImages = () => {
            let images = '';
            file.forEach((e, i) => {
                images += `<div class="image">
                        <img src = "${URL.createObjectURL(e)}" alt="image">
                        <span onclick="delImage(${i})">&times;</span></div>`
            })
            container.innerHTML = images;
        }
        const delImage = index => {
            file.splice(index, 1)
            showImages()
        }
        //drag and drop
        dragndrop.addEventListener('dragover', e => {
            e.preventDefault()

            dragndrop.classList.add('dragover')
            text.innerHTML = 'Drop image here'
        })
        dragndrop.addEventListener('dragleave', e => {
            e.preventDefault()

            dragndrop.classList.remove('dragover')
            text.innerHTML = `Drag and drop image here or 
                        <span class="select">Browse</span>`
        })
        dragndrop.addEventListener('drop', e =>{
            e.preventDefault()

            dragndrop.classList.remove('dragover')
            text.innerHTML = `Drag and drop image here or 
                        <span class="select">Browse</span>`
            file[0] = e.dataTransfer.files[0];
            input.files = e.dataTransfer.files;
            showImages();
        })
    </script>
</body>
</html>